.bx-wrapper {
  border: none;
  padding: 0;
  margin: 0;
}

.slider {
  margin: 0;
  padding: 0;
}



.bx-wrapper, .bx-next {
    background: url(../img/sprite.png) no-repeat !important;
}
.bx-wrapper .bx-controls-direction a
{height: 90px;}
