body
{background: grey;}

.bx-wrapper {
  border: none;
  padding: 0;
  margin: 0;
}

.slider_wrapper
{position: relative;}

.slider {
  margin: 0;
  padding: 0;

}

.slider_control
{width:120px;height:100%;position: absolute;text-indent: -9999px; top:0;opacity: 0.7;}

.nextC
{right: 0;}

.prevC
{left:0}


.nextC:hover
{background: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);opacity: 1;}

.prevC:hover
{background: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);opacity: 1;}
.slider_control a
{width:60px;height:100%;background: url(../img/sprite.png)  no-repeat;display: block;background-position:40px 50%;}

.prevC
{background: url(../img/arrow-slide-left.png)}
