body {
  margin: 0;
  background: #e1e1e1;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: inherit;
}

.fix {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 0;
  color: white;
}

.upperFix {
  background: black;
  display: flex;
  align-items: center;
  padding: 2px;
  justify-content: space-between;
  font-size: 120%;
}

.upperFix .right {
  margin-left: 8%;
}

.upperFix .left {
  margin-right: 8%;
}

.upperFix li {
  margin-right: 28px;
}

.lowerFix {
  font-size: 123%;
  width: 100%;
  box-sizing: border-box;
  height: 190px;

  display: flex;
  justify-content: space-between;
  padding: 13px;
}

.pop {
  transition: .3s;
  transform: scale(0.7, 0.7);
}

.forWho {
  margin-right: 9px;
}

.lowerFix img {
  height: 90%;
  width: auto;
}

.lowerFix .right {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-left: 10%;
}

.imgbox {
  margin-right: 25px
}

.icons {
  display: flex;
  padding-top: 15px;
  margin-right: 9%;
}

.icons_items {
  margin-right: 30px;
  text-align: center;
}

.custom-icon {
  background-image: url(../img/sprite.png);
  display: block;
  width: 80px;
  height: 70px;
  background-repeat: no-repeat;
}

.int {
  background-position: -38px -1px;
}

.tv {
  background-position: -150px -1px;
}

.intv {
  background-position: -233px -1px;
}

.pay {
  background-position: -532px -1px;
}

.icon-RightArrow {
  background-image: url(../img/sprite.png);
  display: block;
  width: 50px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: 15px 20px;
}
.test i
{  background-image: url(../img/sprite.png);
  display: block;
  width: 50px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 15px 20px;}

  .special_offers
  {display: flex; width: 82%; margin: auto;height: 600px;justify-content: space-between;padding-top: 16px;position: relative;z-index: -3;}

  .special_offers_item
  {width: 32.5%;background: #ffffff;padding: 22px;box-sizing: border-box;}

.special_offers_item img
{margin: auto;display: block;position: relative;}

.hitBox
{position: relative;overflow: hidden;}

.hit
{background: #ef3125;
position: absolute;
width: 200px;
transform: rotate(-45deg);height: 50px;text-align: center;top:26px;left:-46px;line-height: 50px;font-size: 120%; color: white;}
