body
{margin: 0;}

ul
{list-style: none;display: flex;}

a
{text-decoration: none;color: inherit;}

.fix
{position: fixed;width: 100%;}

.upperFix
{background: black;
display: flex;
align-items: center;
padding: 2px;
justify-content: space-between;
color: white;
font-size: 120%;
}


.upperFix .right
{margin-left: 8%;}

.upperFix .left
{margin-right: 8%;}

.upperFix li
{margin-right: 28px;}
.lowerFix
{
  width:100%;
  box-sizing: border-box;
  height:140px;
  background: pink;

display: flex;
justify-content: space-between;
padding: 13px;
}

.pop
{
  transition: .3s;
transform:scale(0.7,0.7);
}



.lowerFix img
{height:90%;width: auto;}


.lowerFix .right
{display: flex;justify-content: space-between;width: 200px;}

.icons
{display: flex;}

.icons_items
{margin-right: 45px;text-align: center;}

.custom-icon
{
  background-image: url(../img/sprite.png);
  display: block;
width: 80px;
height: 70px;
background-repeat: no-repeat;
}

.int
{
    background-position: -38px -1px;
}

.tv
{
background-position: -150px -1px;
}

.intv
{
background-position: -233px -1px;
}

.pay
{
background-position: -532px -1px;
}
